body {
    /* padding-bottom: 50px; */
    /* background-color: rgb(194, 199, 199); */
}

.container{
    /* background-color: rgb(204, 211, 248); */
    /* padding: 0%; */
    /* padding-bottom: 20px; */
}

.required:after {
    content: " *";
    color: red;
}

.form-header{
    background-color: rgb(37, 68, 240);
    color: #fff;
    padding: 1%;
}